<h3><strong>How to Use ChicagoYelpInspection</strong></h3><br>
<h4><strong>Enter a Chicago adddress</strong></h4>

<%= image_tag("/assets/EnterAddress.jpg") %>

<h4><strong>The Results Page Will Load with 10 Best Matches</strong></h4>

<h4><strong>Restaurant Names are Hyperlinks to Yelp Pages</strong></h4><br>

<%= image_tag("/assets/YelpHyperlink.jpg") %><br>
<%= image_tag("/assets/PierogiHeaven.jpg") %><br><br>

<h4><strong>To Find More Information on Failed and Passed w/ Conditions Inspections, Click the Link to See the Inspection Page</strong></h4><br>

<%= image_tag("/assets/InspectionHyperlink.jpg") %><br><br>

<h4><strong>And That's It... For Now At Least. More Advanced Searching For Yelp Reviews Soon To Come</strong></h4>
