<h3>You can search ChicagoYelpInspection to easily find Yelp ratings AND health inspection history of restaurants near you<h3>

<h4>Simply enter a Chicago location as you would in Yelp and you are on your way to good (and safe) eating!</h4>



<%= form_tag "/reviews/results", :method => 'post' do %>

  <div class="field">
    <%= label_tag :location %><br>
    <%= text_field_tag :location %>
  </div>
  <div class="actions">
    <%= submit_tag :submit %>
  </div>

<% end %>
