<h3><strong>Find Yelp ratings AND Chicago health inspection data-- in one place!</strong></h3><br>

<h4>Simply enter a Chicago location as you would in Yelp and you are on your way to good (and safe) eating!</h4>

<%= form_tag "/reviews/results", :method => 'post' do %>

  <div class="field">
    <%= label_tag :location %><br>
    <%= text_field_tag :location %>
  </div>
  <div class="actions">
    <%= image_submit_tag ("http://s3-media3.fl.yelpcdn.com/assets/2/www/img/65526d1a519b/developers/Powered_By_Yelp_Red.png") %><br><br>
  </div>

<% end %>


