<h3><strong>Find Yelp ratings AND Chicago health inspection data-- in one place!</strong></h3><br>

<h4>Simply enter a Chicago location as you would in Yelp and you are on your way to good (and safe) eating!</h4>

<%= form_tag "/reviews/results", :method => 'post' do %>

  <div class="field">
    <%= label_tag :location %><br>
    <%= text_field_tag :location %>
  </div>
  <div class="actions">
    <%= submit_tag :submit %><br><br>
  </div>

<% end %>


