<p id="notice"><%= notice %></p>

<h3><strong><%= Business.find_by(:id => @inspection.business_id).dba_name %></strong></h3>

<h5?><%= @inspection.inspect_date.to_s + ": " + @inspection.results %></h5><br><br>

<p>
  <strong>Violations</strong><br>
  <% @violations.each do |violation| %>
  	<%= violation %><br><br>
  <% end %>
</p>
